* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Display', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #04092F;
}

main {
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 50px;
}

club-list {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding: 16px;
}


